@Model PieListViewModel

<h1>@Model.CurrentCategory</h1>

@{
    foreach (var pie in Model.Pies)
    {
        <div class="col-sm-2 col-lg-4 col-ml-4">
            <div class="thumbnail">
                <h1 class="pull-right">@pie.Price.ToString("c")</h1>
                <div class="caption">
                    <h1 class="pull-right">@pie.Category</h1>
                    <h1 class="pull-right">@pie.Stock</h1>
                    <h2>
                        <a>@pie.Name</a>
                    </h2>
                </div>

            </div>
        </div>
    }
}